<div class="page-header ng-cloak" ng-cloak>
  <h1>Log In</h1>
</div>
<div class="row">
  <div class="col-lg-4">
    <form ng-submit="login(credentials)" role="form">
      <div class="form-group">
        <label for="InputEmail">Email address</label>
        <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" ng-model="credentials.email">
      </div>
      <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Password" ng-model="credentials.password">
      </div>
      <button type="submit" class="btn btn-default">Log In</button>
    </form>
  </div>
</div>