body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.movie_container{

}

.movie_box{
  width: 120px;
  margin: 0 15px 10px 0;
  text-decoration: none;
}

.movie_box:hover{
  text-decoration: none;
  cursor: pointer;
}

.movie_cover{

}

.movie_meta{

}

.movie_title{
  display: block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie_year{

}

.sidebar.affix{
  width: 247px;
}

.form-group.pull-right{
  margin-right: 5px;
}

.movie-cover{
  height: 533px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-movie{
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.home-movie.spiderman{
  background-image: url(https://static.yts.re/attachments/The_Amazing_Spider_Man_2_2014_1080p/Screenshot-04_large.png)
}

.home-movie.captainamerica{
  background-image: url(https://static.yts.re/attachments/Captain_America_The_Winter_Soldier_2014_1080p/Screenshot-09_large.png)
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

#master-view.ng-enter  {
  /*-webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;*/
}

#master-view.ng-leave {
  /*-webkit-animation: fadeOutLeft 1s;
  animation: fadeOutLeft 1s;*/
}

.page-header{
  margin-top: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}